*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.nav-logo img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{ font-family: "Montserrat", Arial, Helvetica, sans-serif; } 

.background{
    background-color: #706eff80;
    width: 100%;
}

 nav{
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    max-width: 136px;
}

 .nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}


.link a{
     color: #ffffff; 
     position: relative; 
     padding-bottom: 0.75em; 
     text-decoration: none;
     font-weight: 600;
     font-size: 18px;
}

.link a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(252 215 253);
    transition: all 0.4s ease;
}

.link a:hover::after{
    width: 100%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 22px;
    color: #fff;
    background-color: #7e66ff;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.btn:hover{    
background-color:  rgb(252 215 253);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 11px;
}

header{
    display: flex;
    gap: 2rem;
}

.bloco h2{
        font-size: 52px;
        padding-top: 3%;
        margin-bottom: 0.2rem;
    }

.bloco p{
        font-size: 20px;
        margin-bottom: 20px;
    }

span .negrito{
    font-weight:700
}

/* .seçao{
    margin-top: 4rem; 
    display: flex; 
    gap: 15rem;
}

.seçao .card{
    padding: 1rem;
}

.seçao .card h2{
    margin-bottom: 0.5rem;
    font-size: 2.2rem;
    font-weight: 400;
    font-family: 'Chelsea Market';
}

.seçao .card p{
    margin-bottom: 1rem;
    font-size: 20px;
}

.seçao .card .fonte{
    font-size: 15px;
} */

/* FIM DA SEÇÃO 1 DE BLOCOS */
