*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.nav-logo img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{ font-family: "Montserrat", Arial, Helvetica, sans-serif; } 

.background{
    background-color: #706eff80;
    width: 100%;
}

 nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    max-width: 136px;
}

 .nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
     color: #ffffff; 
     position: relative; 
     padding-bottom: 0.75em; 
     text-decoration: none;
     font-weight: 600;
     font-size: 18px;
}

.link a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(252 215 253);
    transition: all 0.4s ease;
}

.link a:hover::after{
    width: 100%;
}

.btn.btn-primary{
    padding: 1rem 2rem;
    font-size: 22px;
    color: #fff;
    background-color: #7e66ff;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
background-color:  rgb(252 215 253);
}

#banner{
    padding-top: 15px;
    background-color: #fff7eccc;
    overflow: hidden;
    padding: 25px 15px;
    margin-bottom: 100px;
    /* height: 783px; */
}

.bloco{
    width: 50%;
    float: left;

    img{
        width: 60%;
        height: auto;
        margin-left: 195px;
        position: relative;
    }
    
    h2{
        font-size: 41px
    }

    p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    span{
        font-weight: 700;
    }

    .btn.btn-primary a{
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }   

    .btn.btn-primary{
        background-color: #7e66ff;
        width: 350px; 
    }

    a{
        display: inline-block;
        text-decoration: none;
        margin-bottom: 5px;
    }
}

