*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.nav-logo img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{ font-family: "Montserrat", Arial, Helvetica, sans-serif; } 

#background{
    background-color: #706eff80;
    width: 100%;
}

 nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    max-width: 136px;
}

 .nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
     color: #ffffff; 
     position: relative; 
     padding-bottom: 0.75em; 
     text-decoration: none;
     font-weight: 600;
     font-size: 18px;
}

.link a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(252 215 253);
    transition: all 0.4s ease;
}

.link a:hover::after{
    width: 100%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 22px;
    color: #fff;
    background-color: #7e66ff;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
background-color:  rgb(252 215 253);
}

.container{
    max-width: 1200px;
    margin: auto;
}

.background{
    background: url(../Imagens/Banner.png);
    width: auto;
    border-radius: 5px;
}

.banner{
    width: 195px;
    height: auto;
    background-color: rgb(154 171 255 / 94%);    
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    padding: 60px 0px 24px 0px;
    color: #ffffff;
}

.banner h2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.frase {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding-top: 2px;
}

#conteudoPrincipal{
    margin-top: 15px;
    height: 825px;
}

.topico-1{
    padding: 1rem;
    width: auto;
    height: auto;
    background-color: #e6e6e6e0;
    border-radius: 10px;
}

.topico-1 p{
    font-size: 20PX;
    text-align: justify;
    font-weight: 400;
}
/*  */

.topico-2{
    margin-top: 3rem; 
    display: flex; 
}

.topico-2 .card-2{
    padding: 1rem;
}

.topico-2 .card-2 h2{
    margin-bottom: 0.5rem;
    font-size: 2.2rem;
    font-weight: bold;
}

.topico-2 .card-2 p{
    font-size: 20px;
    text-align: justify;
}

.img.card-2{
    width: auto;
    height: auto;
}

.img.card-2 img{
    margin-top: -3rem; 
}
/*  */

.topico-3{
    padding: 1rem;
    height: auto;
    width: auto;
    background-color: #e6e6e6e0;
    border-radius: 10px;
}

.topico-3 p{
    font-size: 21px;
    font-weight: 400;
    text-align: justify;
}

