*{ box-sizing: border-box;}
a{text-decoration: none;}

body{ 
  margin: 0; 
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color:#fff;}

.container{
  max-width: 1250px;
  overflow: hidden;
  padding: 0 9px;
  margin: 0 auto;
  width: 100%;
}

#TopoDoSite{
  background: #94cadd;
  padding: 15px;
  overflow: hidden;
}

#TopoDoSite .Menu ul{
  list-style: none;
  padding: 0;
  margin: 0;    
}

#TopoDoSite .Menu ul li{
  display: inline-block;
  padding: 15px;
  font-weight: 500;
}

.Menu ul li a{color: #ffffff;}

#TopoDoSite .NomeDoSite{
  float: left;
  vertical-align: middle;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 15px;
  color: #ffffff;
  font-size: 20px;}

#TopoDoSite .NomeDoSite img{vertical-align: middle;}

#TopoDoSite .Menu{float: right;}

#conteudo{ min-height: 1050px; }

.info h1{ font-size: 32px;}

.info h2{
  font-family: 'Chelsea Market'; 
  font-weight: 100;
  margin-bottom: 30px;}

.contatos button{ display: block; }
 
.contatos input, .contatos #areaDeTexto{ 
  padding: 10px;   
  border-radius: 10px;
  border: none; 
  min-width: 450px; 
  background: #e6e6e6e0;
  margin-bottom: 12px;
  display: block;
} 
  
.contatos label{ width: 100%; font-weight: bolder;}
    
.botao{
  background-color:rgb(1, 33, 218);
  border: none;
  border-radius: 6px;
  min-width: 200px;
  min-height: 58px;
  margin-top: 2px;
  color: #ffffff;
  font-weight:bolder;
  font-size: 14px;}



.imagem{
  float: right;
  padding-right: 150px;
  padding-top: 75px; 
 }


#contatosUteis{
  display: flex;
  margin-left: 15px;
}

.titulo p{
  font-weight: bolder;
  font-family: 'Chelsea Market';
  font-weight: 100;
}

.ContatosUteis{
  display: inline-flex;
  width: 100%;
}

.bloco1, .bloco2, .bloco3, .bloco4{
  height: 200px;
  width: 320px;
  background-color: #e6e6e6e0;
  padding: 5px;
  text-align: center;
  margin-right: 25px;
  border-radius: 6px;}

.tituloDeContato{
  padding-top: 5px;
  margin-bottom: 25px;}

.bloco1 p, .bloco2 p, .bloco4 p {padding-top: 20px;}

